<div>
    <div class="text-center">
        <h3 class="texto-color text-center">Tipos de Créditos </h3>
    </div>
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-4">
                
                <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Crédito en Línea</h6>
                    <div class="text-center mt-2">
                        <img src="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/qgGhVdoLy0GQ8dPxQ3tNHQ/Icon/transferencias-bancarias-caja.jpg?w=300&h=200&mode=crop?w=300&h=200&mode=crop" class="img-fluid" height="242" width="242" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Consulta si tienes disponible una oferta y obtén tu dinero sin garante, sin trámites y en 5 minutos.</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer más > </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Crédito multipropósito</h6>
                    <div class="text-center mt-2">
                        <img src="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/m-9UMaVYYkCPdovV1TirdA/Icon/Personas-Credito-multiproposito.jpg?w=300&h=200&mode=crop" class="img-fluid" height="242" width="242" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Llegó el momento de hacer realidad tus propósitos. Todos tenemos algo pendiente por cumplir.</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer más > </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                
                <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Crédito Línea Abierta</h6>
                    <div class="text-center mt-2">
                        <img src="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/1JOZNLpf4kCl9yS0zEVnuA/Icon/Personas-Credito-de-linea-abierta.jpg?w=300&h=200&mode=crop" class="img-fluid" height="242" width="242" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">¿Necesitas financiamiento para remodelación de tu vivienda u oficina, comprar un terreno, culminar estudios?</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer más > </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                
                <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Crédito hipotecario</h6>
                    <div class="text-center mt-2">
                        <img src="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/N0W4YpKS3kOroB-15Mzbmw/Icon/Personas-Credito-hipotecario.jpg?w=300&h=200&mode=crop" class="img-fluid" height="242" width="242" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Tener casa propia es una de las decisiones más importantes de tu vida. Tómala.</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer más > </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                
                <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Crédito vehicular</h6>
                    <div class="text-center mt-2">
                        <img src="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/WmisOeaNsEq-geIuDe2m7g/Icon/Personas-Credito-vehicular.jpg?w=300&h=200&mode=crop" class="img-fluid" height="275" width="275" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Conduce tu vida sobre ruedas. Elige el vehículo que se ajusta a tus necesidades.</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer más > </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                
                 <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Crédito educativo</h6>
                    <div class="text-center mt-2">
                        <img src="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/DhNKhHsNbUqJypIMau5xBw/Icon/Personas-Credito-educativo.jpg?w=300&h=200&mode=crop" class="img-fluid" height="275" width="275" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Estudia lo que siempre quisiste, en la universidad de tu elección.</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer más > </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>