<div>
    <div class="text-center">
        <h3 class="texto-color text-center">Inversiones Personas</h3>
    </div>
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-4">
                
                <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Plazodolar</h6>
                    <div class="text-center mt-2">
                        <img src="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/fwil9ydE7E6Ob466W4YmEg/Icon/EMPRESAS---Inversiones-Depositos-a-plazo-Plazodolar.jpg?w=300&h=200&mode=crop" class="img-fluid" height="242" width="242" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Haz crecer tu dinero en lugar de gastarlo. Abre tu inversión en línea y acumula interés.</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer mas > </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Armadolar</h6>
                    <div class="text-center mt-2">
                        <img src="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/wHPl1k61G0CEav-1HsLrhA/Icon/EMPRESAS---Inversiones-Depositos-a-plazo-Armadolar.jpg?w=300&h=200&mode=crop" class="img-fluid" height="242" width="242" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Pon a trabajar tu dinero con una inversión. Elige el monto y plazo de tu preferencia.</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer mas > </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                
                <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Pago anticipado</h6>
                    <div class="text-center mt-2">
                        <img src="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/f_4rsLbW6UqVTZe7h1Hoig/Icon/EMPRESAS---Inversiones-Depositos-a-plazo-Pago-anticipado.jpg?w=300&h=200&mode=crop" class="img-fluid" height="242" width="242" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Abre tu inversión y recibe los intereses en tu cuenta por adelantado y acumulando tus intereses</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer mas > </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    

</div>