<form action="/ingreso" method="post">
<div class="form-group" >
  <label class="form-label mt-4">Floating labels</label>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
</div>
<button type="submit">
    INGRESAR
</button>
</form>