<div class="text-center">
    <h3 class="text-success">VIALYNK TU BANCA EN LINEA CONFIABLE</h3>
    <img src="resources/lv.png" style="height: 100px;width: 100px;"/>
    <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente asperiores magnam, quaerat odit dicta quibusdam nesciunt quo explicabo, aliquid commodi ipsam libero voluptates, ea possimus saepe animi atque velit aperiam. </div>
</div>