<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">

        {{#if errores}}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{errores.err_email}}</strong> 
            </div>
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{errores.err_nick}}</strong> 
            </div>
        {{/if}}

        <div class="card">
            <div class="card  mb-3">
                <div class="card-header">
                    <div class="text-center">
                        <img class="card-img-top center-block" src="resources/lv.png" alt="Card image cap" style="height: 150px; width: 150px;">
                    </div>
                </div>
                <div class="card-body border-success bg-my-green text-white  ">
                    <h2 class="card-title text-center"> REGISTRO</h2>
                    <p class="card-text "> 

                    <form action="/register" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label mt-4"> <b>Nombre de Usuario</b></label>
                            <input type="text" class="form-control" name="nickname" id="nickname" aria-describedby="emailHelp" placeholder="Ingresa tu nombre de usuario">
                            <small id="emailHelp"></small>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label for="exampleInputEmail1" class="form-label mt-4"> <b>Nombre</b></label>
                                    <input type="text" class="form-control" value="{{nombre}}" name="nombre" id="nombre" aria-describedby="emailHelp" placeholder="Ingresa tu nombre">
                                </div>
                                <div class="col">
                                    <label for="exampleInputEmail1" class="form-label mt-4"> <b>Apellido</b></label>
                                    <input type="text" class="form-control" value="{{apellido}}" name="apellido" id="apellido" aria-describedby="emailHelp" placeholder="Ingresa tu apellido">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label mt-4"> <b>Correo Electrónico</b></label>
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Ingresa tu correo">
                            <small id="emailHelp">No compartiremos tu correo con nadie</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label mt-4"><b>Contraseña</b></label>
                            <input type="password" class="form-control" name="psw" id="psw" placeholder="Ingresa tu contraseña">
                        </div> <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-light btn-outline-dark"><b>INGRESAR</b></button>
                        </div>
                    </form>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
    </div>
  </div>
</div>





