<div>
    <div class="text-center">
        <h3 class="texto-color text-center">Servicios Personas</h3>
    </div>
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-4">
                
                <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Seguro de Vida</h6>
                    <div class="text-center mt-2">
                        <img src="https://cdn-icons-png.flaticon.com/512/1518/1518688.png" class="img-fluid" height="150" width="150" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Encuentra un plan a tu medida con la cobertura que tu y tu familia necesitan</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer mas > </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Transferencias Bancarias</h6>
                    <div class="text-center mt-2">
                        <img src="https://www.bbva.com/wp-content/uploads/2019/11/transferencias2-1920x1180.jpg" class="img-fluid" height="242" width="242" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Realiza las transacciones que necesitas con total seguridad</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer mas > </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                
                <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Canales de Atención</h6>
                    <div class="text-center mt-2">
                        <img src="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/Z8op9tsYvUK52ni0TB_yYQ/Icon/Personas---Servicios-Canales-de-atencion.jpg?w=300&h=200&mode=crop" class="img-fluid" height="150" width="180" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Olvídate de cuándo, cómo y dónde, haz tus transacciones a través de nuestros puntos de atención.</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer mas > </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                
                <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Pagos complementarios</h6>
                    <div class="text-center mt-2">
                        <img src="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/ltkFRxmlfUGr4LAc3l7uCg/Icon/personas---servicios.jpg?w=300&h=200&mode=crop" class="img-fluid" height="150" width="180" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Encuentra la manera más cómoda y ágil para resolver tus necesidades financieras y bancarias.</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer mas > </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                
                <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Reactivación de cuentas</h6>
                    <div class="text-center mt-2">
                        <img src="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/iQj1pHTjE0yiyooPxw3a3g/Icon/Personas---Servicios-Reactivacion-de-cuentas.jpg?w=300&h=200&mode=crop" class="img-fluid" height="150" width="180" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Reactivarla es sencillo, únicamente necesitas hacer un depósito en la cuenta y listo, puedes volver a usarla.</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer mas > </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                
                 <div class="card mb-3 border-success">
                    <h6 class="card-header text-info text-uppercase">Pagos</h6>
                    <div class="text-center mt-2">
                        <img src="https://inicio.pichincha.com/portal/Portals/0/adam/Submenu/Z_le5Dle1Uyt6vRLuRomtA/Icon/Personas---Servicios-Pagos.jpg?w=300&h=200&mode=crop" class="img-fluid" height="150" width="180" />
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">Todos tus pagos al día, Evita la suspención de tus servicios básicos, entre otras cosas.</p>
                    </div>
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-outline-info">Conocer mas > </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>