@font-face {
    font-family: 'BitBold';
    src: url('../resources/fonts/BitBold.ttf') format('truetype');
}

#hanoi-example {
    margin: 0 auto;
    justify-content: center;
}

.bg-my-green {
    /* background-color: #62b311 !important; */
    background-color: #84cc3c !important;
    /* background-color: #6e9f3c !important; */
    /* background-color: #96b242 !important; */ 
}

.texto-justify{
    text-justify: newspaper !important;
}

.texto-color{
    color: #84cc3c !important;
}

.bg-infor{
    background-color: lightblue !important;
}